# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Byte-compiled / optimized / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/
*.egg
*.whl

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
nosetests.xml
*.cover
*.py,cover

# Mypy
.mypy_cache/

# Pyre
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# Env files
.env
.env.*

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Icon?

# Kivy
.kivy/

# kivy-ios / iOS build artifacts
kivy-ios/build/
kivy-ios/dist/
kivy-ios/*.xcodeproj/
kivy-ios/*.xcworkspace/
kivy-ios/*.xcuserstate
kivy-ios/*.app

# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserstate
*.moved-aside
*.hmap
*.ipa

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sql
*.sqlite
*.sqlite3

# Coverage and profiler
*.prof

# Misc
*.swp
*~
.project
.ropeproject

